<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nick Barth</title>

    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/application.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container" ng-controller="UserCtrl as user">
      <div class="header row">
        <div class="col-md-12 text-center">
          <a ng-href="#/"><h1>News</h1></a>
          <a ng-href="#/login" ng-hide="user.currentUser()">Login</a>
          <a ng-href="#/register" ng-hide="user.currentUser()">Register</a>
          <div ng-show="user.currentUser()">
            Welcome, <a ng-href="#/account">{{user.currentUser().name}}</a>
          </div>
          <a ng-href="#/logout" ng-show="user.currentUser()">Logout</a>
          <hr>
          <a class="btn btn-default" ng-href="#/submit" ng-show="user.currentUser()">Submit News</a>
        </div>
      </div>
      <div class="row" ng-view></div>
    </div>
    <script type="text/ng-template" id="news.html">
      <div class="col-md-2" ng-repeat="item in news.items">
        <div class="thumbnail">
          <a href="#/photo/{{item._id}}"><img ng-src="{{item.photos[0]}}" class="thumb"></a>
          <div class="overlay">
            <p><a href="#/photo/{{item._id}}">{{item.title}}</a></p>
          </div>
        </div>
      </div>
      <div class="footer row">
        <div class="col-md-12">
          <paginate pagination="news.pagination"></paginate>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="pagination.html">
      <ul class="pagination">
        <li ng-class="{ 'disabled': pagination.currentPage == 1 }"><a ng-href="#/page/{{ pagination.prevPage() }}">&laquo;</a></li>
        <li ng-repeat="item in pagination.totalPagesArray() track by $index" ng-class="{ 'active': pagination.currentPage == $index + 1}"><a href="#/page/{{$index + 1}}">{{$index + 1}}</a></li>
        <li ng-class="{ 'disabled': pagination.nextPage == pagination.currentPage }"><a ng-href="#/page/{{ pagination.nextPage() }}">&raquo;</a></li>
      </ul>
    </script>
    <script type="text/ng-template" id="photo.html">
      <div class="col-md-12">
        <h2>{{ photo.item.title }}</h2>
        <a class="btn btn-default" ng-href="#/edit/{{photo.item._id}}">Edit</a>
        <button class="btn btn-default" ng-click="photo.delete(photo.item._id, photo.item._rev)">Delete Photo</button>
        <p>{{ photo.item.description }}</p>
        <img ng-repeat="photo in photo.item.photos" ng-src="{{ photo }}" class="full-thumb">
      </div>
    </script>
    <script type="text/ng-template" id="login.html">
      <div class="col-md-12">
        <form class="form-horizontal" role="form" ng-submit="login.submit()">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="login.username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/ng-template" id="register.html">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="register.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="register.password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="register.submit(register.email, register.password)">Register</button>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/ng-template" id="account.html">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="account.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="account.password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="account.submit(account.email, account.password)">Update Account</button>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/ng-template" id="submit.html">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="submit.title">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Photos</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="inputPhotos" placeholder="Photos" multiple file-change="submit.photoPreview">
              <canvas id="canvas" height="110" class="hide"></canvas>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Genre</label>
            <div class="col-sm-10">
              <select class="form-control" id="inputGenre" placeholder="Genre" ng-model="submit.genre">
                <option ng-selected="selected">Science Fiction</option>
                <option>Fantasy</option>
                <option>War</option>
                <option>Comic Book</option>
                <option>Historical</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputDescription" placeholder="Description (Optional)" ng-model="submit.description" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="submit.submit()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script type="text/ng-template" id="edit.html">
      <div class="col-md-12">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="edit.item.title">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Photos</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="inputPhotos" placeholder="Photos" multiple file-change="edit.photoPreview">
              <canvas id="canvas" height="110" class="hide"></canvas>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Genre</label>
            <div class="col-sm-10">
              <select class="form-control" id="inputGenre" placeholder="Genre" ng-model="edit.item.genre">
                <option ng-selected="selected">Science Fiction</option>
                <option>Fantasy</option>
                <option>War</option>
                <option>Comic Book</option>
                <option>Historical</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputDescription" placeholder="Description (Optional)" ng-model="edit.item.description" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="edit.submit()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/application.js"></script>
  </body>
</html>
